#main {
    background-color: lavender;
}

#sidebar {
    background-color: yellow;
    float: left;
    width: 20%;
}

#body {
    background-color: pink;
    float: left;
    width: 80%;
}

#footer {
    background-color: cyan;
    clear: both;
}
