#main {
    background-color: #ffffff;
}

#sidebar {
    background-color: #ffffff;
    color: #00008b;
    float: left;
    width: 20%;
}

#body {
    background-color: #ffffff;
    color: #00008b;
    float: left;
    width: 80%;
}

#footer {
    background-color: #ffffff;
    color: #00008b;
    clear: both;
    font-size: 10pt;

}

#title {
    font-style: italic;
}

a.sidebar:link {
    color: #00008b;
    text-decoration: none;
}

a.sidebar:visited {
    color: #00008b;
}
 a.sidebar:hover {
     color: #00008b;
}

p.title {
    font-size: 24pt;
    font-weight: bold;
}

body {
    font-family: sans-serif;
}

sup {
    color: #ff0000;
}
label {
/*/width:30%;*/
float:left;
text-align:right;
padding-right: 10px;
}
