#main {
    background-color: #ffffff;
}

#sidebar {
    background-color: #ffffff;
    color: #00008b;
    float: left;
    width: 20%;
}

#body {
    background-color: #ffffff;
    color: #00008b;
    float: left;
    width: 80%;
}

#footer {
    background-color: #ffffff;
    clear: both;
}

a.sidebar:link {
    color: #00008b;
    text-decoration: none;
}

a.sidebar:visited {
    color: #00008b;
}
 a.sidebar:hover {
     color: #00008b;
 }